@charset "utf-8";

body{background:#f8f8f8}
fieldset{border:none;margin:0;padding:0}
.typo-9bgray, a.typo-9bgray{color:#9b9b9b}
.typo-b2gray, a.typo-b2gray{color:#b2b2b2}
.typo-2gray, a.typo-2gray{color:#222}
.typo-6gray, a.typo-6gray{color:#666}
.typo-8gray, a.typo-8gray{color:#888}
.typo-9gray, a.typo-9gray{color:#999}
.typo-85gray, a.typo-85gray{color:#858585}
.typo-35gray, a.typo-35gray{color:#353535}
.typo-1cgray, a.typo-1cgray{color:#1c1c1c}
.typo-a1gray, a.typo-a1gray{color:#a1a1a1}
.typo-1dgray, a.typo-1dgray{color:#1d1d1d}
.typo-4agray, a.typo-4agray{color:#4a4a4a}
.typo-d6gray, a.typo-d6gray{color:#d6d6d6}
.typo-a5gray, a.typo-a5gray{color:#a5aaad}
.typo-white, a.typo-white{color:#fff}
.typo-black, a.typo-black{color:#000}
.typo-09green, a.typo-09green{color:#09bb07}
.bg-09green, a.bg-09green{background-color:#09bb07}
.bg-white{background-color:#fff}
.bg-eagray{background-color:#eaeaea}

.fullwidth{width:100%}
.halfwidth{width:50%}
.thirdwidth{width:33.3%}
.quarwidth{width:25%}
.lh1{line-height:100%}
.lh2{line-height:125%}
.lh3{line-height:150%}
.lh4{line-height:175%}
.lh5{line-height:200%}
.pf{position:fixed}
.left{left:0}
.right{right:0}
.top{top:0}
.bottom{bottom:0}
.mt2{margin-top:.02rem}
.pl2p{padding-left:2%}
.pl5p{padding-left:5%}
.pl6p{padding-left:6%}
.pr2p{padding-right:2%}
.pr5p{padding-right:5%}
.pr6p{padding-right:6%}
.bor-b-cdgray{border-bottom:1px solid #cdcdcd}
.bor-b-egray{border-bottom:1px solid #eee}
.bor-b-e5gray{border-bottom:1px solid #e5e5e5 !important;}
.bor-t-e5gray{border-top:1px solid #e5e5e5}
.fs20{font-size:.2rem}
.opacity03{opacity:0.3}

/*按钮*/
.button{width:92%;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}
.button-01{border:1px solid #029400;background-color:#09bb07}
.button-02{border:1px solid rgba(0,0,0,0.15);background-color:#fbfafc}

/*导航*/
.nav-practice{border-bottom:1px solid #cdcdcd;box-shadow:inset 0 1px 0 0 #dbdbdb;}
.nav-practice li{border-right:1px solid #cdcdcd;margin-right:-1px;}
.nav-practice li.active{background-color:#eaeaea}

/*表单样式*/
.checkbox{width:20px;height:20px;border:1px solid #c9c9c9;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;appearance: none;-webkit-appearance: none;-moz-appearance: none;}
.checkbox:checked{background:url(../images/icon-checkbox-checked.png) no-repeat -1px -1px;border:none}
.checkbox01{background-color:#d0011b;border:none}
.textarea{width:90%;border:none}
.textarea::-webkit-input-placeholder{color:#b2b2b2;font-size:.14rem;line-height:1.5}

/*搜索框*/
.searchbox{background-color:#f0eff5}
.container-search{border: 1px solid #E6E6EA;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;margin-right:35px}

/*弹窗*/
.backdrop{background-color:rgba(0,0,0,0.5);width:100%;height:100%;z-index:999}
.popup-fail{width:76%;position:absolute;left:50%;top:50%;margin-top:-.65rem;margin-left:-38%;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}
.popup-fail-note{margin-top:-1.4rem}
.container-failbtn{border-top:1px solid #d2d3d5}
.closebtn{border-right:1px solid #d2d3d5;margin-right:-1px}
.operatebtn{color:#02bb00}

/*图标*/
.icon-notFound{font-size:.85rem}
.icon-wrong{width:20px;height:20px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;background-color:#d0011b}

@media only screen and (min-width: 481px){
    html {
        font-size: 940%!important;
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 1090%!important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 1250%!important;
    }
}