@charset "utf-8";

/*notFoundCourse*/
.tip-notFound{margin-top:9rem;color:#10aeff}

/*classSearch*/


/*exam*/


/*examScore*/
.examScore{font-size:6rem;padding-top:6rem;padding-bottom:3.5rem}

/*profileEdit-verify*/
.container-intro{width:75%;margin-left:auto;margin-right:auto}
.qrcodeTip{opacity:0.3}