@charset "utf-8";

/*notFoundCourse*/
.tip-notFound{margin-top:9rem;color:#10aeff}

/*classSearch*/
.searchbox{background-color:#f0eff5}
.container-search{border: 1px solid #E6E6EA;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;margin-right:35px}

/*exam*/
.popup-fail{width:76%;position:absolute;left:50%;top:50%;margin-top:-65px;margin-left:-38%;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}
.container-failbtn{border-top:1px solid #d2d3d5}
.closebtn{border-right:1px solid #d2d3d5;margin-right:-1px}
.operatebtn{color:#02bb00}

/*examScore*/
.examScore{font-size:6rem;padding-top:6rem;padding-bottom:3.5rem}